<% 
	title 'Signup is complete'
	header "Thanks #{@user.first_name}"

	 %>


<p>
	Your account has been verified.
</p>	
	
<% if @user.admin? %>

	<p class="note">
		You are now considered an administrator. 
		You can now access
		<%= link_to 'admin only', 'http://control.compnow.com.au', {
			:title => "Go to the admin only section of the website" 
		} %> features of the website.
	</p>

<% end %>
