
		<!-- 		
			Giving ourselves some credit.
		 -->
		<div id="newfangled">
			Website developed by 
			<a href="http://newfangled.com.au" title="This is a Newfangled website" target="_blank">Newfangled</a>
		</div>
